{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <title>Bob Blog</title>
    <link rel="icon" href="/media/icons/icons8-cat-black-big.png" type="images/png" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/error.css' %}">
    <script src="{% static 'blog/js/blog.js' %}"></script>
    <script src="/media/live2dw/lib/L2Dwidget.min.js"></script>
    <script data-ad-client="ca-pub-9496515710476197" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?2edea8f92ce9ba61a91e036cffc15dcb";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <i class="bi bi-code-slash"></i>
                <span>BYINCD</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">
                            <i class="bi bi-house-door"></i> 首页
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog-list' %}">
                            <i class="bi bi-journal-text"></i> 文章
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'archives' %}">
                            <i class="bi bi-tags"></i> 分类
                        </a>
                    </li>
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                        <a class="nav-link btn-signout" href="{% url 'do-logout' %}">
                            <i class="bi bi-person-circle"></i> 退出
                        </a>
                        {% else %}
                        <a class="nav-link btn-signin" href="{% url 'do-login' %}">
                            <i class="bi bi-person-circle"></i> 登录
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                {% if device_type != 'mobile' %}
                <div class="col-lg-6">
                {% else %}
                <div class="text-center">
                {% endif %}
                    <ul class="footer-links list-inline mb-0">
                        <li class="list-inline-item">同站链接</li>
                        <li class="list-inline-item">:</li>
                        <li class="list-inline-item"><a href="/memory">日记游记</a></li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item"><a href="/it-tools/">在线工具</a></li>
                        <li class="list-inline-item">&sdot;</li>
                        {% if user.is_authenticated %}
                        <li class="list-inline-item"><a href="{% url 'download-bak' %}">备份下载</a></li>
                        {% endif %}
                    </ul>
                    <p class="footer-description">By &copy; BobJiang</p>
                </div>
                <div class="col-lg-4"></div>
                {% if device_type != 'mobile' %}
                <div class="col-lg-2">
                    <div class="social-links">
                {% else %}
                <div class="text-center">
                    <div>
                {% endif %}
                        <a class="contact-info" title="bobjiang4321@gmail.com"><i class="bi bi-envelope-fill"></i><p class="contact-tip">bobjiang4321@gmail.com</p></a>
                        <a class="contact-info" title="成都"><i class="bi bi-pin-map-fill"></i><p class="contact-tip">成都</p></a>
                        <a class="contact-info" href="https://github.com/bobjiangps" title="https://github.com/bobjiangps"><i class="bi bi-github"></i><p class="contact-tip">click me</p></a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <span id="beian">
                    <a href="http://www.beian.miit.gov.cn/" target="_blank">蜀ICP备18017146号</a>
                    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51012202000327"><img src="/media/upload/Bo/2018/07/01/gonganbu.png"/>&ensp;川公网安备 51012202000327号</a>
                </span>
            </div>
        </div>
    </footer>

    <script type="text/javascript">
        setTimeout(() => {
            L2Dwidget.init({
                "pluginRootPath":"live2dw/",
                "pluginJsPath":"lib/",
                "pluginModelPath":"assets/",
                "tagMode":false,
                "log":false,
                "model":{
                    "jsonPath":"/media/live2dw/assets/hijiki.model.json"
                },
                "display":{
                    {% if device_type != 'mobile' %}
                    "position":"right",
                    "width":150,
                    "height":300
                    {% else %}
                    "position":"right",
                    "width":75,
                    "height":150
                    {% endif %}
                },
                "mobile":{
                    "show":true
                }
            });
        }, 200)
    </script>
</body>
</html>
